.content{
  text-align: center;


  background-color: rgb(114, 101, 84);
}
.but{
  text-align: center;

  background-color: rgb(31, 79, 134);

}
.img{
  text-align: center;

  background-color: rgb(27, 17, 6);

}
.tube{
  text-align: center;

  background-color: rgb(39, 122, 80);

}
html, body, #root {
  height: 100%; /* 让根元素和页面高度充满整个屏幕 */
  margin: 0; /* 去除默认外边距 */
  padding: 0; /* 去除默认内边距 */
}
.main {
  display: flex; /* 使用 Flexbox 布局 */
  justify-content: center; /* 在水平方向上居中 */
  align-items: center; /* 在垂直方向上居中 */
  height: 100%; /* 让 main 容器高度充满整个屏幕 */
}
