.buttonTubes{
  margin: 0.4rem; 
}


.colorOne{
  background-color: #f3c3d1;
  color: white,
}

.colorTwo{
  background-color: #f5e9d5;
  color: white,
  
}

.colorThere{background-color: #e7f5d5;
  color: white,
  
}.colorFour{background-color: #d5f5e3;
  color: white,
  
}.colorFive{background-color: #d5ecf5;
  color: white,
  
}.colorSix{background-color: #d5d5f5;
  color: white,
  
}.colorSeven{background-color: #efd5f5;
  color: white,
  
}.colorEight{background-color: #f56b6b;
  color: white,
  
}

.card{
  border: 2px solid #9a0000;
  margin-right: 0.5rem;
  margin-left: 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(70, 45, 45, 0.1);

}
.card-button{
  cursor: pointer;
}
.statusClass{
  font-size: 20px;
  font-weight: 500;
}
.listClass{
  font-size: 20px;  font-weight: 500;

}