.App {
  text-align: center;
}

.container{
  height:60vh;
  display: flex;
  justify-content:center;
  align-items:center;
  
} 


.layoutStyle  {
  border-radius: 8;
  overflow:  hidden ;
  width:  calc(100% - 8px) ;
  max-width:  calc(100% - 8px) ;
  background-color:  #ffffff !important;

  /* background-image: url(D:\front\react-electron\my-app\src\assets\image\p7_con_bg.jpg); */
}
.title{
  height: 30px;
  width: 100%;
  background-color: #9b0000 !important;
  display: flex;
  align-items: center;
  position: relative; /* 确保内部使用绝对定位的元素相对于这个容器定位 */

}

.image {
  position: absolute;
  left: 2%; 
  height: 80%;

}

.titleText{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;

}

.titleClock {
  position: absolute;
  top: 50%;
  right: 2%; /* 将 titleClock 定位到右侧 */
  transform: translate(0, -50%);
  color: #fff;

}

.tag {
  display: flex;
  height: 45rem; /* 可根据需要调整 */
  width: 100%;
  flex-direction: column; /* 垂直排列 */
}

.tag > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* writing-mode: vertical-rl; 文字垂直排列 */
  /* text-orientation: mixed;   保持文字正常方向 */
  cursor: pointer;
  border-bottom: 2px solid #680303ea;    
  transition: background-color 0.3s;
  font-weight: 1000;
  font-size: large;
  color: #e6f7ff;
}

.custom-anchor {
  
}

.custom-anchor .ant-anchor-ink {
  display: none ; /* 隐藏默认的锚点滑动条 */
  background-color:#9b0000 !;
}

.anchor-item {
  width: 2.5rem;
  height: 12.5rem; /* 设置每个锚点的高度 */
  background-color: #f0f0f0; /* 设置背景颜色 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  writing-mode: vertical-rl; /* 垂直文字模式 */
    text-orientation: mixed; /* 文字方向 */
}

.experiment {
  height: 18.5rem; /* 设置每个锚点的高度 */
  
}

.custom-anchor .ant-anchor-link{
  padding-inline:0 !important
}

.anchor-item:hover {
  background-color: #9b0000; /* 鼠标悬停时的背景颜色 */
  color: white;
}

.custom-anchor .ant-anchor-link-active .anchor-item {
  background-color: #9b0000; /* 激活时的背景颜色 */
  color: white;
}

.tag_experiment {
  background-color: #9b0000;
}

.tag_method {
  background-color: #9b0000;
}

.tag_historical {
  background-color: #fff7e6;
}

.tag > div:hover {
  /* background-color: #460101;  鼠标悬停时的颜色*/
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
