 
.contentStyle  {
  /* background-color:  #0958d9 ; */
  background-color: #ffffff !important;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  height: 100%;


}
.taskStyle{
   /* background-color:  #0958d9 ; */
   background-color: #ffffff !important;
   align-items: center; 
}
.siderStyle  {
  
  text-align:  center ;

  color:  #ffffff ;

  background-color:  #ffffff !important;
}


.headerStyle{
  color: #fff;
  line-height: 200px;
  background-color: #ffffff;
  padding:0 !important;
  border: none;
}
.layoutStyle  {
  border-radius: 8;
  overflow:  hidden ;
  width:  calc(80% - 8px) ;
  max-width:  calc(90% - 8px) ;
  background-color:  #ffffff !important;

}
.button{
  margin-left: 1rem;
  margin-top: 0.5rem;margin-bottom: 0.5rem;
}
.container{
  height:70vh;
  display: flex;
  justify-content:center;
  align-items:center;
}
.lingImage{
  width: 100%;
  height: 100%;
}