.task{
  padding-top: 1rem;
}

.div-with-steps {
  width: 100%; /* 设置容器宽度 */
  overflow-x: auto; /* 当内容超出时显示水平滚动条 */
  white-space: nowrap; /* 防止内部元素换行 */
  /* 其他样式，如边框、内边距等 */
  border: 1px solid #ccc; /* 可选，为div添加边框 */
  padding: 10px; /* 可选，为div添加内边距 */
  box-sizing: border-box; /* 确保宽度包括padding和border */
}
/* 为Steps组件设置样式，确保其不会超出div的宽度 */
.steps-container {
  display: flex; /* 使用flex布局以便于控制子元素的排列 */
  flex-direction: row; /* 子元素垂直排列 */
  align-items: flex-start; /* 子元素靠左对齐 */
}

/* 为Steps组件中的每个步骤设置样式 */
.steps-item {
  flex-shrink: 0; /* 防止步骤在缩小时被压缩 */
}

.ant-steps-item-icon{
  font-size:0px !important

}
.ant-steps{
  text-align: center;
}